* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
/* Styles pour la barre de défilement dans les navigateurs basés sur WebKit (Chrome, Safari) */
html::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
    height: 8px; /* Épaisseur de la barre de défilement horizontale */
}

/* Fond de la barre de défilement */
html::-webkit-scrollbar-track {
    background: rgb(2,5,24); /* Fond transparent */
}

/* Style du pouce de la barre de défilement */
html::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.7); /* Couleur du pouce */
    border-radius: 10px; /* Coins arrondis */
}


.main {
    height: 100vh;
    width: 100vw;
    background-image: url('img/wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main svg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.card {
    height: 60%;
    max-height: 60%;
    overflow-y: auto;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    transform: translateY(-15%);
    transition: all ease-in-out 0.7s;
}

.card:hover {
    transform: translateY(-20%) scale(1.015);
}

/* Styles pour la barre de défilement */
.card::-webkit-scrollbar {
    width: 8px; /* Largeur de la barre de défilement */
    height: 8px; /* Épaisseur de la barre de défilement horizontale */
}

.card::-webkit-scrollbar-track {
    background: transparent; /* Rendre le fond de la barre de défilement transparent */
}

.card::-webkit-scrollbar-thumb {
    background: #888; /* Couleur du "pouce" de la barre de défilement */
    border-radius: 10px; /* Coins arrondis du pouce */
    margin-left: 4px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #555; /* Couleur du pouce au survol */
}

#pfp {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 15px rgba(255, 255, 255, .6);
    transition: all 0.4s;
}

#pfp:hover {
    transform: scale(1.1);
}

.project {
    height: 100vh;
    width: 100vw;
    background-color: rgb(2,5,24);
    background-size: cover;
}

#desc {
    padding: 15px;
    text-align: left;
    font-size: 18px;
    line-height: 1.5;
    margin: 15px;
    color: #333; /* Couleur de texte douce pour lisibilité */
    width: 90%;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.language-buttons {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.language-buttons button {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.language-buttons button:hover {
    background-color: #333;
    transform: scale(1.2);
}

.socials {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
    margin: 0px auto;
    max-width: 90%; /* Ajustement de la largeur pour les petits écrans */
}

@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

/* Style du h1 avec effet néon */
.socials h1 {
    font-family: 'Neonderthaw', cursive; /* Utilisation de la police Monoton */
    font-size: 60px; /* Taille du texte */
    letter-spacing: 8px; /* Espace entre les lettres pour un effet plus espacé */
    font-weight: normal;
    margin-top: 5em;
    color: #ff007f; /* Rose vif pour la couleur du texte */
    text-shadow: 
        0 0 5px #ff007f,
        0 0 10px #ff007f,
        0 0 20px #ff007f,
        0 0 40px #ff007f,
        0 0 80px #ff00ff,
        0 0 90px #ff00ff,
        0 0 100px #ff00ff;
    text-align: center;
    animation: neon-glow 1.5s ease-in-out infinite alternate;
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

/* Responsive design pour téléphones et petits écrans */
@media (max-width: 600px) {
    .socials h1 {
        font-size: 40px; /* Taille du texte réduite pour les petits écrans */
        letter-spacing: 4px; /* Moins d'espacement pour éviter que le texte dépasse */
    }
}

/* Animation pour l'effet de brillance */
@keyframes neon-glow {
    from {
        text-shadow: 
            0 0 5px #ff007f,
            0 0 10px #ff007f,
            0 0 20px #ff007f,
            0 0 40px #ff007f,
            0 0 80px #ff00ff,
            0 0 90px #ff00ff,
            0 0 100px #ff00ff;
    }
    to {
        text-shadow: 
            0 0 10px #ff00ff,
            0 0 20px #ff00ff,
            0 0 30px #ff00ff,
            0 0 60px #ff00ff,
            0 0 100px #ff00ff,
            0 0 110px #ff007f,
            0 0 120px #ff007f;
    }
}

.socials_card {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
  
.up {
    margin-top: 5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.down {
    margin-top: 0.5em;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
  
.card1 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 90px 5px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.instagram {
    margin-top: 1.5em;
    margin-left: 1.2em;
    fill: #cc39a4;
}
  
.card2 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 90px 5px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.twitter {
    margin-top: 1.5em;
    margin-left: -.9em;
    fill: #03A9F4;
}
  
.card3 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 5px 90px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.telegram {
    margin-top: -.6em;
    margin-left: 1.2em;
    fill: #03A9F4;
}
  
.card4 {
    width: 90px;
    height: 90px;
    outline: none;
    border: none;
    background: white;
    border-radius: 5px 5px 90px 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .2s ease-in-out;
}
  
.discord {
    margin-top: -.9em;
    margin-left: -1.2em;
    fill: #8c9eff;
}
  
.card1:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #cc39a4;
}
  
.card1:hover .instagram {
    fill: white;
}
  
.card2:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #03A9F4;
}
  
.card2:hover .twitter {
    fill: white;
}
  
.card3:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: rgb(13, 178, 255);
}
  
.card3:hover .telegram {
    fill: white;
}
  
.card4:hover {
    cursor: pointer;
    scale: 1.1;
    background-color: #8c9eff;
}
  
.card4:hover .discord {
    fill: white;
}